body,ul,p,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(170, 175, 233);
}
/* 顶部 */
.header{
    display: table;
    margin: 0 auto;
    width: 1500px;
    height: 350px;
    background-image:url(../image/logo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center ;
    text-align: center;
    padding: 30px 0 0 0;
    
} 
.header-top{
    display: flex;
    font-size: 28px;
}
.header-top ul{
    display: flex;
    justify-content: space-around;
    
}
.header-top li{
    flex: 1;
    text-align: center;   
}
.header-top li a{
    color: #eee;
}
.header-top li a:hover{
    color:red
}
.main{
    /* border: solid 10px #555; */
    display:table;
    margin: 30px auto;

}
/* main 主要内容区域 */
.main-left{
    width: 55%;
    /* height: 700px; */
    float: left;
    padding: 20px;
    font-size: 20px;
    /* border: solid 1px #222; */

}
.main-qygk{
    padding: 50px 50px;
}

.main-qygk li {
    height: 80px;
    width: 750px;
    font-size: 30px;
    color: #333;
    font-family: "宋体";
    text-align: left;
    line-height: 80px;
    border-bottom:1px solid #eee;
}
.main-right{
    display: flex;
    float: left;
    width: 40%;
    margin-top: 80px;
    padding: 10Px;
    /* border: solid 1px #333; */

}

.main::before,.main::after{
    content: "";
    display: block;
}
.main::after{
    clear: both;
}


/* 底部 */
.pagefooter{ 
    display: table;
    height: 300px;
    width: 100%;
    clear: both;
    text-align: center;
    background: #333;
    size:18px;    
}
.pagefooter a{
    padding: 12px;
    display: block;
    float: center;
    color: #ccc; 
}
    
.weixin{
    position:relative;
    }
.weixin::after{
    content: url(../image/wx.jpg);
    position: absolute;
    right: 390px;
    top: -350px;
    width: 120px;
    height: 120px;
    border: 5px solid #0095ba;
    border-radius: 4px;
    transform-origin: top right;
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    }
.weixin:hover::after{
    transform:scale(1);
    opacity: 1;
} 
